<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% include "head.html" %}
    <title>新增工作量</title>
</head>

<body>

<!-- Navigation -->
{% include "navigation.html" %}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">新增
        <small>工作量</small>
    </h1>

    <ol class="breadcrumb">
        {% include "route.html" %}
        <li class="breadcrumb-item active">新增</li>
    </ol>

    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row">
        <div class="col-lg-8 mb-4">
            {{ msg }}
            <h3>新增工作量记录</h3>
            <form name="addWorkloadForm" id="addWorkloadForm" action="{% url 'add_workload' %}" method="post">
                {% csrf_token %}
                <div class="control-group form-group">
                    <div class="controls">
                        <label>班次:</label>
                        <select class="form-control" id="shift" name="shift">
                            {% for shift in shift_list %}
                                {% if shift.name == shift_name %}
                                    <option selected value="{{ shift.id }}">{{ shift.name }}</option>
                                {% else %}
                                    <option value="{{ shift.id }}">{{ shift.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <p class="help-block" id="shift_validate"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>岗位:</label>
                        <select class="form-control" id="position" name="position">
                            {% for position in position_list %}
                                {% if position.name == position_name %}
                                    <option selected value="{{ position.id }}">{{ position.name }}</option>
                                {% else %}
                                    <option value="{{ position.id }}">{{ position.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <p class="help-block" id="position_validate"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>岗位难度:</label>
                        <select class="form-control" id="level" name="level">
                            <option selected value="">无</option>
                            {% for level in level_list %}
                                <option value="{{ level.id }}">{{ level.name }}</option>
                            {% endfor %}
                        </select>
                        <p class="help-block" id="level_validate"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>开始时间:</label>
                        <input type="datetime-local" class="form-control" id="start_datetime" name="start_datetime" placeholder="请选择开始时间"
                               required data-validation-required-message="Please enter start datetime.">
                        <p class="help-block" id="start_datetime_validate"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>结束时间:</label>
                        <input type="datetime-local" class="form-control" id="end_datetime" name="end_datetime" placeholder="请选择结束时间"
                               required data-validation-required-message="Please enter end datetime.">
                        <p class="help-block" id="end_datetime_validate"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>审核室:</label>
                        <select class="form-control" id="assigned_team" name="assigned_team">
                            {% for team in team_list %}
                                {% if team.name == assigned_team_name %}
                                    <option selected value="{{ team.id }}">{{ team.name }}</option>
                                {% else %}
                                    <option value="{{ team.id }}">{{ team.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <p class="help-block" id="assigned_team_validate"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>备注(可选):</label>
                        <textarea class="form-control" id="remark" name="remark" placeholder="请填写备注"
                                  data-validation-required-message="Please enter remark."></textarea>
                        <p class="help-block" id="remark_validate"></p>
                    </div>
                </div>
                <!-- For success/fail messages -->
                <button type="submit" class="btn btn-primary" id="submit">提交</button>
            </form>
        </div>
        <div class="col-lg-4 mb-4">
            <h3>Tips</h3>
            <p>
                <abbr title="查询审核状态">查询审核状态</abbr>
                <br>
                请点击<a href="/register">此处</a>
            </p>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
{% include "footer.html" %}

<!-- Bootstrap core JavaScript -->
{% include "script.html" %}
<script>
$(document).ready(function(){
    $(function(){
        $("#submit").click(function(event){
            var username = $('#username').val();
            var password = $('#password').val();
            var username_validate = $('#username_validate').text();
            var password_validate = $('#password_validate').text();
            if(username == "" || password == ""){
                event.preventDefault();
                alert("输入不能为空！")
            } else if(username_validate != "" || password_validate != ""){
                event.preventDefault();
                alert("输入有误，请检查！")
            };
        });
    });
});
</script>

</body>

</html>
