<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% include "head.html" %}
    <title>人员管理</title>
</head>

<body>
<!-- Navigation -->
{% include "navigation.html" %}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">人员管理
        <small>模块</small>
    </h1>

    <ol class="breadcrumb">
        {% include "route.html" %}
        <li class="breadcrumb-item active">人员管理</li>
    </ol>


    <h1 class="centered mb"> 恭喜！ 登记成功</h1>


</div>
<div class="table">
    <div class="col-xs-6">
        <a href="/workload/add_workload/" class="list-group-item">继续登记</a>
    </div>
    <div class="col-xs-6">
        <a href="/workload/addinfo/" class="list-group-item">查看登记记录</a>
    </div>
</div>
<!-- /.container -->

<!-- Footer -->
{% include "footer.html" %}

<!-- Bootstrap core JavaScript -->
{% include "script.html" %}

</body>

</html>
