<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% include "head.html" %}
    <title>人员管理</title>
</head>

<body>
<!-- Navigation -->
{% include "navigation.html" %}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">人员管理
        <small>模块</small>
    </h1>

    <ol class="breadcrumb">
        {% include "route.html" %}
        {% include "route_workload.html" %}
        <li class="breadcrumb-item active">登记记录</li>
    </ol>
    <div id="contact">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <h2 class="centered mb">登记记录</h2>
                    <form action="{% url 'addinfo' %}" method="post">
                        {% csrf_token %}
                        <div>
                            <table class="table table-bordered" id="mytable" style="table-layout: fixed;width:100%" align="center">
                                <thead>
                                <tr>
                                    <td  width="12%" align="center">姓名</td>
                                    <td  width="12%" align="center">岗位</td>
                                    <td  width="10%" align="center">工作时长</td>
                                    <td  width="15%" align="center">指派分队</td>
                                    <td  width="18%" align="center">工作量所属日期</td>
                                    <td  width="18%" align="center">备注</td>
                                    <td  width="22%" align="center">登记时间</td>
<!--                                    <td colspan="2"></td>-->
                                </tr>
                                </thead>
                                <tbody>
                                {% for addinfo in addinfo_list %}
                                <tr>
                                    <td  align="center">{{ addinfo.user.get_full_name }}</td>
                                    <td  align="center">{{ addinfo.position.name }}</td>
                                    <td  align="center">{{ addinfo.worktime }}</td>
                                    <td  align="center">{{ addinfo.department.name }}</td>
                                    <td  align="center">{{ addinfo.created_time}}</td>
                                    <td  align="center">
                                        <div class="wrap" style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap" title="{{ addinfo.remark }}">{{ addinfo.remark }}</div>
                                    </td>
                                    <td  align="center">{{ addinfo.updated_time }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <a id="btn0"></a>
                            <input id="pageSize" type="text" size="1" maxlength="2" value="getDefaultValue()"/><a>
                            条 </a> <a href="#" id="pageSizeSet">设置</a>&nbsp;
                            <a id="sjzl"></a>&nbsp;
                            <a href="#" id="btn1">首页</a>
                            <a href="#" id="btn2">上一页</a>
                            <a href="#" id="btn3">下一页</a>
                            <a href="#" id="btn4">尾页</a>&nbsp;
                            <a>转到&nbsp;</a>
                            <input id="changePage" type="text" size="1" maxlength="4"/>
                            <a>页&nbsp;</a>
                            <a href="#" id="btn5">跳转</a>
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <div class="card my-4">
                        <h2 class="card-header">绩效登记</h2>
                        <div class="card-body">
                            <a href="/workload/add_workload/">
                                <button type="button" class="btn btn-secondary">登记</button>
                            </a>
                        </div>
                    </div>
                    <div class="card my-4">
                        <h3 class="card-header">日期归档</h3>
                        <div class="card-body">
                            <ul>
                                {% for addinfo_date, addinfo_count in addinfo_dates.items %}
                                <li>
                                    <a href="/workload/addinfo_date/ {{ addinfo_date.year}} & {{addinfo_date.month}}">
                                        {{ addinfo_date|date:"Y年m月" }} ({{ addinfo_count }})
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
{% include "footer.html" %}

<!-- Bootstrap core JavaScript -->
{% include "script.html" %}

<script type="text/javascript">
    var pageSize = 10;    //每页显示的记录条数
     var curPage=0;        //当前页
     var lastPage;        //最后页
     var direct=0;        //方向
    var len;            //总行数
    var page;            //总页数
    var begin;
    var end;


    $(document).ready(function display(){
        len =$("#mytable tr").length - 1;    // 求这个表的总行数，剔除第一行介绍
        page=len % pageSize==0 ? len/pageSize : Math.floor(len/pageSize)+1;//根据记录条数，计算页数
        // alert("page==="+page);
        curPage=1;    // 设置当前为第一页
        displayPage(1);//显示第一页

        document.getElementById("btn0").innerHTML="当前 " + curPage + "/" + page + " 页    每页 ";    // 显示当前多少页
        document.getElementById("sjzl").innerHTML="数据总量 " + len + "";        // 显示数据量
        document.getElementById("pageSize").value = pageSize;



        $("#btn1").click(function firstPage(){    // 首页
            curPage=1;
            direct = 0;
            displayPage();
        });
        $("#btn2").click(function frontPage(){    // 上一页
            direct=-1;
            displayPage();
        });
        $("#btn3").click(function nextPage(){    // 下一页
            direct=1;
            displayPage();
        });
        $("#btn4").click(function lastPage(){    // 尾页
            curPage=page;
            direct = 0;
            displayPage();
        });
        $("#btn5").click(function changePage(){    // 转页
            curPage=document.getElementById("changePage").value * 1;
            if (!/^[1-9]\d*$/.test(curPage)) {
                alert("请输入正整数");
                return ;
            }
            if (curPage > page) {
                alert("超出数据页面");
                return ;
            }
            direct = 0;
            displayPage();
        });


        $("#pageSizeSet").click(function setPageSize(){    // 设置每页显示多少条记录
            pageSize = document.getElementById("pageSize").value;    //每页显示的记录条数
            if (!/^[1-9]\d*$/.test(pageSize)) {
                alert("请输入正整数");
                return ;
            }
            len =$("#mytable tr").length - 1;
            page=len % pageSize==0 ? len/pageSize : Math.floor(len/pageSize)+1;//根据记录条数，计算页数
            curPage=1;        //当前页
             direct=0;        //方向
             firstPage();
        });
    });

    function displayPage(){
        if(curPage <=1 && direct==-1){
            direct=0;
            alert("已经是第一页了");
            return;
        } else if (curPage >= page && direct==1) {
            direct=0;
            alert("已经是最后一页了");
            return ;
        }

        lastPage = curPage;

        // 修复当len=1时，curPage计算得0的bug
        if (len > pageSize) {
            curPage = ((curPage + direct + len) % len);
        } else {
            curPage = 1;
        }


        document.getElementById("btn0").innerHTML="当前 " + curPage + "/" + page + " 页    每页 ";        // 显示当前多少页

        begin=(curPage-1)*pageSize + 1;// 起始记录号
        end = begin + 1*pageSize - 1;    // 末尾记录号


        if(end > len ) end=len;
        $("#mytable tr").hide();    // 首先，设置这行为隐藏
        $("#mytable tr").each(function(i){    // 然后，通过条件判断决定本行是否恢复显示
            if((i>=begin && i<=end) || i==0 )//显示begin<=x<=end的记录
                $(this).show();
        });
     }





</script>

</body>
</html>