<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% include "head.html" %}
    <title>业务速查</title>
</head>

<body>
<!-- Navigation -->
{% include "navigation.html" %}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">业务
        <small>速查</small>
    </h1>

    <ol class="breadcrumb">
        {% include "route.html" %}
        {% include "route_quickcheck.html" %}
        <li class="breadcrumb-item active">出境业务</li>
    </ol>

    <!-- Content Row -->
    <div class="row">
        <!-- Sidebar Column -->
        <div class="col-lg-3 mb-4">
            <div class="list-group">
                <a href="/quickcheck/outbound_limit" class="list-group-item active">出境业务</a>
                <a href="/quickcheck/outbound_limit/singapore" class="list-group-item">新加坡</a>
                <a href="/quickcheck/outbound_limit/cambodia" class="list-group-item">柬埔寨</a>
                <a href="/quickcheck/outbound_limit/thailand" class="list-group-item">泰国</a>
            </div>
        </div>
        <!-- Content Column -->
        <div class="col-lg-9 mb-4">
            <h2>出境业务速查</h2>
            <p>请在左侧选择查询一个国家/地区</p>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
{% include "footer.html" %}

<!-- Bootstrap core JavaScript -->
{% include "script.html" %}

</body>

</html>
