<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% include "head.html" %}
    <title>业务速查</title>
</head>

<body>
<!-- Navigation -->
{% include "navigation.html" %}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">新加坡
        <small></small>
    </h1>

    <ol class="breadcrumb">
        {% include "route.html" %}
        {% include "route_quickcheck.html" %}
        {% include "route_quickcheck_outbound_limit.html" %}
        <li class="breadcrumb-item active">新加坡</li>
    </ol>

    <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                       aria-controls="collapseOne">新加坡本国公民或PR卡持有者</a>
                </h5>
            </div>
            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-body">
                    护照+(PR)+下载合力追踪器+提前申请核酸检测预约和预付+提交海关入境电子和健康申报入境申请
                </div>
                <hr>
                <img class="card-img-bottom" src="{% static 'images/outbound_limit_singapore_1_1200_600.jpg' %}" alt="">
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                       aria-expanded="false" aria-controls="collapseTwo">学生签证持有者</a>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-body">
                    护照+签证（student pass或者student pass IPA+MOE入境许可+下载合力追踪器+提前申请核酸检测预
                </div>
                <hr>
                <img class="card-img-bottom" src="{% static 'images/outbound_limit_singapore_2_1200_1200.jpg' %}" alt="">
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingThree">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                       aria-expanded="false" aria-controls="collapseThree">E-VISA（电子签证）持有者</a>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="card-body">
                    护照+签证+入境许可（ATP函或ALE函或STP函）+下载合力追踪器+提前申请核酸检测预约和预付+提交海关入境电子和健康申报入境申请
                </div>
                <hr>
                <img class="card-img-bottom" src="{% static 'images/outbound_limit_singapore_3_1200_1500.jpg' %}" alt="">
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingFour">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
                       aria-expanded="false" aria-controls="collapseFour">海员</a>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="card-body">
                    护照+海员证+港务局（MPA）签发的批复函Final No Objection Letter+下载合力追踪器+提前申请核酸检测预约和预付+提交海关入境电子和健康申报入境申请
                </div>
                <hr>
                <img class="card-img-bottom" src="{% static 'images/outbound_limit_singapore_4_1200_800.jpg' %}" alt="">
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingFive">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"
                       aria-expanded="false" aria-controls="collapseFive">工作准证持有者</a>
                </h5>
            </div>
            <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="card-body">
                    护照+工作准证+MOM入境许可+下载合力追踪器+提前申请核酸检测预约和预付+提交海关入境电子和健康申报入境申请
                </div>
                <hr>
                <img class="card-img-bottom" src="{% static 'images/outbound_limit_singapore_5_1200_800.jpg' %}" alt="">
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingSix">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix"
                       aria-expanded="false" aria-controls="collapseSix">长期访问通行证持有者</a>
                </h5>
            </div>
            <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
                <div class="card-body">
                    护照+长期访问通行证/IPA批文+MOM/ALE入境许可+下载合力追踪器+提前申请核酸检测预约和预付+提交海关入境电子和健康申报入境申请
                </div>
                <hr>
                <img class="card-img-bottom" src="{% static 'images/outbound_limit_singapore_6_1200_1200.jpg' %}" alt="">
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingSeven">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven"
                       aria-expanded="false" aria-controls="collapseSeven">家属证件通行证持有者</a>
                </h5>
            </div>
            <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven">
                <div class="card-body">
                    护照+家属证件通行证+MOM入境许可+下载合力追踪器+提前申请核酸检测预约和预付+提交海关入境电子和健康申报入境申请
                </div>
                <hr>
                <img class="card-img-bottom" src="{% static 'images/outbound_limit_singapore_7_1200_600.jpg' %}" alt="">
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

<!-- Footer -->
{% include "footer.html" %}

<!-- Bootstrap core JavaScript -->
{% include "script.html" %}

</body>

</html>
